<input type="button" (click)="AdicionarFornecedor()" value="adicionar">
<input type="button" (click)="ObterFornecedoresCrud()" value="ObterFornecedoresCrud">
<a routerLink="/aluno">Index</a>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Endereço</th>
      <th scope="col">Bairro</th>
      <th>

      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let fornecedor of fornecedores"  >
          <td>  

          </td>
          <td>{{fornecedor.nome}}</td>
          <td>{{fornecedor.endereco}}</td>
          <td>{{fornecedor.bairro}}</td>
          <td>

          </td>
          <td>
            
          </td>
      </tr>
  </tbody>
</table>
