<ul class="pagination">

  <li *ngIf="showDetailsPages" [ngClass]="{disabled:currentPage === 1}">
    <span class="page-link">
      <a (click)="setPage(1)">Primeiro</a>
    </span>
  </li>
  <li *ngIf="showDetailsPages" class="page-item" [ngClass]="{disabled:currentPage === 1}">
    <span class="page-link">
      <a (click)="setPage(pagination.currentPage - 1)">Anterior</a>
    </span>
  </li>

  <ng-container *ngFor="let pagesIn of pagination.pages">

    <li class="page-item" [ngClass]="{active:pagesIn.currentPage}">
      <span class="page-link">
        <a (click)="setPage(pagesIn.numberPage)">{{pagesIn.description}}</a>
      </span>
    </li>
  </ng-container>

  <li *ngIf="showDetailsPages" class="page-item" [ngClass]="{disabled:currentPage === totalPagesPage}">
    <span class="page-link">
      <a (click)="setPage(pagination.currentPage + 1)">Próximo</a>
    </span>
  </li>

  <li *ngIf="showDetailsPages" class="page-item" [ngClass]="{disabled:currentPage === totalPagesPage}">
    <span class="page-link">
      <a (click)="setPage(pagination.totalPages)">Último</a>
    </span>
  </li>
</ul>
