
<p>Upload</p>
<project-B-file-upload></project-B-file-upload>

<input type="button" (click)="cumprindoPromessa()" value="promessa">
<p>
  home works!
</p>
<project-B-alfabeto></project-B-alfabeto>

<br>

<h1>Evento Gerado</h1>

<hr>
<label for="chkValorBoolean"> </label>
<input type="checkbox" (change)="addprop1($event)" name="chkValorBoolean" id="chkValorBoolean" checked="checked">
<hr>
<project-B-inputsgenerates></project-B-inputsgenerates>
<project-B-inputsgenerates></project-B-inputsgenerates>
<project-B-inputsgenerates></project-B-inputsgenerates>

<project-B-inputsgenerates2></project-B-inputsgenerates2>

<hr>
<p>Endereços</p>
<project-B-endereco (receberEndereco)="onRecebeuEndereco($event)" [cep]="01512-030">

</project-B-endereco>
<input type="button" (click)="alterarInput()" value="identificar input">
<br>
<input type="text" #txtElementAlterMore>





<a [routerLink]="['demanda']">demanda</a>
<a [routerLink]="['table']">tabela</a>
<a [routerLink]="['grid-detalhes']">grid-detalhes</a>
<a [routerLink]="['upload']">upload</a>
<a [routerLink]="['animals']">animals</a>
<a [routerLink]="['cachorro']">cachorro</a>
<a [routerLink]="['gato']">gato</a>
<a [routerLink]="['professor']">professor</a>
<a [routerLink]="['fornecedor']"  [queryParams]="{pagina:1}" >fornecedor</a>

<a [routerLink]="['aluno']"  [queryParams]="{pagina:1}" >aluno</a>





<h1>Dados do Livro.</h1>
<hr>
<ul>
  <li>
    Data lancamento {{livro.datalancamento | date:'dd/MM/yyyy' }}
  </li>
  <li>
    Estrelas {{livro.estrelas |  number : '2.1-1' }}
  </li>
  <li>
    Titulo {{livro.titulo | uppercase | camelCase : { 'nome' :'Osmar' , 'titulo': 'titulado' } }}
  </li>
  <li>
    Paginas {{livro.paginas | number }}
  </li>
  <li>
    Preço {{livro.preco| currency : 'BRL' : true}}
  </li>
  <li>
    Url {{livro.urlLivro}}
  </li>
  <li>
      Livro {{livro| json}}
    </li>
</ul>


<p projectBFundoAmarelo> Texto com fundo amarelo </p>

<input type="text" name="txtnome" id="txtnome" value="">

<p projectBHighlightMouse>Texto com mouse higlith </p>



<p projectBHighlight projectBFundoAmarelo [defaultColor]="'grey'" [highlightColor]="'red'"> Texto com cores customizadas </p>

<ul>
  <li *ngFor="let livr of listLivros"  >
    Data lancamento {{livr.datalancamento | date:'dd/MM/yyyy' }}<br>
    Estrelas {{livr.estrelas |  number : '2.1-1' }}<br>
    Titulo {{livr.titulo | uppercase | camelCase : { 'nome' :'Osmar' , 'titulo': 'titulado' } }}<br>
    Paginas {{livr.paginas | number }}<br>
    Preço {{livr.preco| currency : 'BRL' : true}}<br>
    Url {{livr.urlLivro}}<br>
    Livro {{livr| json}}
  </li>
</ul>

<div class="row">
    <div class="col-sm-12">
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Name</th>
          <th>Position</th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let row of data; let i = index" (click)="selectRow(i, row)">
          <td>{{row.name}}</td>
          <td><input [(ngModel)]="row.lastName" style="color:black"></td>
        </tr>
  
        </tbody>
      </table>
    </div>
  </div>

  <project-B-btntest 
  [name]="'btn1'"
   [numeroSoma]="10"
    (somar)="resultadoSomatoria($event)"  
    ></project-B-btntest>

    <project-B-btntest 
    [name]="'btn2'"
     [numeroSoma]="20"
      (somar)="resultadoSomatoria($event)"  
      ></project-B-btntest>

      <project-B-btntest 
      [name]="'btn3'"
       [numeroSoma]="30"
        (somar)="resultadoSomatoria($event)"  
        ></project-B-btntest>


      
      <project-B-pagination 
        (EmitterPage)="onReceberPager($event)" 
        [pagination]="paginationprop"   >
      </project-B-pagination>


      
      <input type="text" projectBMyCurrencyFormatter >
      <input type="button" (click)="consultarNovamente()" value="consultar novamente paginacao">


      <input type="button" (click)="consultarNovamente()" value="consultar novamente paginacao">

     
     
      checar
      <input type="checkbox" [(ngModel)]="mostrarDiv" name="chk" id="chk">

      <div *ngIf="mostrarDiv"  >
          Vou ser mostrado
      </div>

      <p   >  {{cpfValor | cpfPipe}}   </p>

     
     
      <input projectBCpfDiretiva type="text" name="txtinput" id="txtinput">

      <input type="text" id="mascarado" placeholder="mascarado" >
      
      <input type="button" value="importarjs" (click)="importarjs()" >

      <input type="button" value="Rodarjs" (click)="Rodarjs()" >

