<p>
  home works!
</p>
<project-B-alfabeto></project-B-alfabeto>

<br>

<h1>Evento Gerado</h1>

<hr>
<label for="chkValorBoolean">  </label>
<input type="checkbox" (change)="addprop1($event)" name="chkValorBoolean"  id="chkValorBoolean" checked="checked" >
<hr>
<project-B-inputsgenerates></project-B-inputsgenerates>
<project-B-inputsgenerates></project-B-inputsgenerates>
<project-B-inputsgenerates></project-B-inputsgenerates>

<project-B-inputsgenerates2></project-B-inputsgenerates2>

<hr>
<p>Endereços</p>
<project-B-endereco  (receberEndereco)="onRecebeuEndereco($event)" [cep]="01512-030" >

</project-B-endereco>
<input type="button" (click)="alterarInput()"   value="identificar input"><br>
<input type="text" #txtElementAlterMore >

